/*  =============== adding fonts =============== */
@font-face {
  font-family: "Audrey";
  font-display: auto;
  font-style: normal;
  font-weight: "bold";
  src: url("./assets/fonts/audrey/Audrey-Normal.otf");
}
@font-face {
  font-family: "AudreyM";
  font-display: auto;
  font-weight: "bold";
  src: url("./assets/fonts/audrey/Audrey-Medium.otf");
}

@font-face {
  font-family: "Yeseva";
  font-display: auto;
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/yeseva/YesevaOne-Regular.ttf");
}
/*  =============== adding fonts =============== */
